body {
    background-image: url(./arsg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bodyitens {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;


}

.bodydiv {

    background-color: rgba(0, 0, 0, 0.5);
    width: 500px;
    /* Ajuste a largura conforme necessário */
    height: 480px;
    margin-top: 30px;
    padding-top: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    /* Adiciona uma margem na parte superior */
    margin-bottom: 90px;
    /* Adiciona uma margem na parte inferior */
    border-radius: 25px;
    box-shadow: 0 8px 16px black;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    
}

.a {
  position: relative;
  top: 2rem;
}

.letter{
    text-align: center;
}

.cadbutton{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    margin: 18%;
    background-color: rgb(173, 216, 230, 0.7);
}


  .cadbutton:hover {
    background-color: rgb(173, 216, 230, 0.7);
    color: black;
    box-shadow: 0 8px 16px black;
  
  
  
  }
  
  .cadbutton:active {
    background-color: rgb(100, 149, 237, 0.7);
    transform: translateY(2px);
    font-weight: bold;
    color: black;
  }


.rodape {
    height: 40px;
}