
body{
 background-image: url(./arsg.jpg);
 background-position: center;
 background-repeat:no-repeat;
 background-size: cover;
 
}

.bodyitens{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  
  
}

.bodydiv{
  background-color: rgb(0,0,0,0.5);
  width: 65%;
  height: 480px;
  margin-top: 2.8%;
  margin-bottom: 2%;
  border-radius: 25px;
  justify-content: space-between;
  display: flex;
  box-shadow: 0 8px 16px black;
}